	#main{width:1006px; 
	margin: 0 auto;
	margin-bottom: 20px;}
	#guide{
		width:752px;
		height:40px;
		line-height:40px;
		
	}
	#guide ul li a{color:#999; padding-right:5px;}
	#guide ul li a:hover{color:#d3ad82;}
	#guide ul li{padding-right:15px;}
	#guide ul li:last-child a{color:#d3ad82;}
	#information{
		width:1122px;
		height:572px;}
		#good{width:462px;
		margin-right:30px;}
		#good ul{
			width: 304px;
			height: 60px;
		margin:0 64px;
	}
	#good ul li{
		margin:0 16px;
		border:1px solid #e8e8e8;
		width:60px;
		height:60px;
		background: url(../img/Rings/e1.jpg)
		 no-repeat center center; 
		 background-size: 80px 80px}
		#good ul li:nth-child(2){
			background: 
			url(../img/Rings/e11.jpg) no-repeat;
			background-size: 80px 80px} 
		#good ul li:nth-child(3){background: 
		url(../img/Rings/e111.jpg) no-repeat;
		background-size: 80px 80px}
		#picture{position: relative;width:458px;
		height:458px;
		margin-bottom: 20px;}
		#picture #Bigmorror{
			position:absolute;
				left:0px;
				top:0px;
				width:115px;
				height:115px;
				background-color:#ccc;
				opacity:0.5;
				display:block;} 
		#picture #showBox{
			position:absolute;
				left:490px;
				top:0px;
				width:229px;
				height:229px;
				background:#fff;
				background-image:url(../img/Rings/e1.jpg);
				background-size:458px 458px;
				background-position:-100px -120px;
				display:block;
				border:1px solid #ccc;
				z-index: 20;
				} 
				
	#good111,#good121,#good131{
	width: 458px;
	height: 458px;
	border: 1px solid #e8e8e8;}
	#good121,#good131{display:none;}
	#icon{width:265px;
	height:70px;
	margin:0 80px;
	line-height:70px;}
	#icon p{
		display:inline-block;
		width:50px;
		height:70px;
	color: #999;
	padding-left:44px;
	}
	#icon i{margin: 0 2px;}
	#icon .qq{font-size:28px; line-height:70px; color: #11b7f3;}
	#icon .wchat{font-size:24px; line-height:70px;color: #46d239;}
	#icon .weibo{font-size:24px; line-height:70px;color:#f03934}
	
	#info{height:514px;
	width: 516px;
	position: relative;}
	#info h2{font-size: 21px;
	margin-top:8px;
	}
	#info a{display: inline-block;/*float:right;*/
	font-size: 12px;color: #999;
	width: 220px;
	height: 50px;
	line-height: 50px;
	margin-left: 393px;}
	#info a:nth-of-type(2){
		height: 28px; 
		line-height: 28px;
		margin-left: 393px;;
	}
	#info a:hover{color: #d3ad82;}
	#amount{width:508px;
	height:40px; 
	line-height:40px
	}
	#amount p:nth-child(1){
		margin-right:240px;
		font-size: 18px;
		color: #d3ad82;}
	#amount p:nth-child(2){margin-right:12px;}	
	#amount p:nth-child(3){margin-left:24px;}
	#parameter{width:512px;
	height:40px;
	background:#f7f7f7;
	margin-top: 22px;}
	#parameter ul{display: none;}
	#parameter ul:nth-child(1){display: block;}
	#parameter ul li{
		color:#999;margin-right:20px;
	line-height: 40px;
	font-size: 14px;}
	#parameter ul li:nth-child(1){margin-left:20px;}
	#parameter ul li span{display: inline-block; color: #d5b390;}
	#ringC{margin:20px 0 ;}
	#ringC p,#ringC span,#Rdesign span,#Rdesign p,#choose p,#choose div,#choose a{display: inline-block;}
	#ringC span{
		border: 1px solid #d5b390;
		width: 60px;
		height:30px;
		 text-align: center;
		position: relative;
		line-height:30px;
		background: url(../img/Engagement/未标题-1.gif) no-repeat;
		background-size:17px 17px;background-position: 44px 14px;
		margin:0 20px;}
	#Rdesign #default{
		width:70px;
		height:34px ;
	line-height: 34px;
	border: 1px solid #d5b390;
	position: relative;
		background: url(../img/Engagement/未标题-1.gif) no-repeat;
		background-size:17px 17px;background-position: 54px 18px;
		margin:0 15px;
		text-align: center;}
		#Rdesign span{
			width:70px;height:34px ;
			line-height: 34px;margin:0 15px;
			text-align: center;
			border: 1px solid #ccc;}
		#ringC p,#Rdesign p,#choose p,input{color: #999;
		text-align: center;}
		#choose{width:512px;margin-top: 24px; height: 32px; line-height: 32px;}
		#choose input,#choose select{border: 1px solid #ccc;height: 32px;}
		#choose select{margin-left: 15px; width: 118px;}
		/*#choose a{
		height:32px;width:20px;
		border: 1px solid #ccc;}*/
		#choose #celing{
			display: inline-block;
			height: 16px;
			line-height:16px;
			width: 512px;
			margin-left:0;		
		}
	#yulan{width:80px ;height:32px ;
	background: #d3ad82;
	line-height: 32px;
	color: #fff;
	text-align: center;margin:0 8px;}
	#choose #celing{width: 200px;
	height: 18px;
	line-height: 18px;
	margin-left: 0;
	display: inline-block;}
	#addCar,#By{width:180px;height:38px;border-radius:3px;}
	#addCar{border:1px solid #d3ad82;
	background: #fff;
	color: #d3ad82;
	margin-left: 74px;}
	#By{background: #d3ad82;
	color: #fff;
	border:1px solid #d3ad82;
	margin-left: 30px}
	#service{border-top:1px dashed #d3ad82;
	border-bottom:1px dashed #d3ad82;
	margin: 24px 0;
	height: 60px;
	line-height: 60px;
	}
	#service div{margin:0 25px;}
	p{color:#999}
	#com{
		width:1120px;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
		margin-top: 120px;
		text-align: center;
		}
	#com #linee{
	width:1px;
	height:12px;
	background: #e8e8e8;
	margin:14px 52px;
	
	}
	#commodity,#comment{width:86px;height:40px;}
	#commodity{border-bottom:2px solid #d3ad82;margin-left:360px;}
	#commodity-detail{width:1120px;
	border-top:1px solid #e8e8e8;
	margin-left:0;}
	#commodity-detail ul li{width: 200px;}
	#commodity-detail ul li p{color:#666;}
	#commodity-detail ul li span{color:#999;}
	#commodity-detail .one{width:1120px; height:82px;}
	#commodity-detail li p,#commodity-detail li span{display: inline-block;}
	#commodity-detail .one li{width:200px;margin:0 40px; line-height: 82px;}
	#commodity-detail .one li p,#commodity-detail .one li span{display: inline-block;}
	#commodity-detail .one li p:nth-child(3){display:block; text-align: left;}
	#commodity-detail .one li:nth-child(3){line-height:28px;}
	#commodity-detail .two{
		width:1120px;
		height:32px;
		margin:10px 0;
		line-height: 32px;}
	#commodity-detail .two li{width:200px;margin:0 40px;text-align:center;}
	#commodity-detail .three{width:1120px;height:34px; line-height: 34px;}
	#commodity-detail .three li{width:200px;margin:0 40px;text-align:center;}
	#commodity-detail .four li{width:200px;margin:0 40px;text-align:center;}
	#comment-detail{
		width: 100%;
	border-top: 1px solid #ccc;
	height: 100px;
	background: #ff0;
	margin-top:50px;
	display: none;}
	#star{margin-top:110px;}
	#img-detail img{
		width:1120px;
		margin-bottom:20px;
	 }
	 #img-detail img:nth-last-child{margin-bottom:100px;}

