
 #login{width:100%;height:638px;
	  background: url(../img/爱的定制.jpg) no-repeat center center;
	  background-size:100% 100%;
	  margin:20px 0 50px 0;
	 position: relative;
}
 #login-right{width:440px;height:488px;
	 background:#fff; position:absolute;
	 top:78px;right:102px;}
  #login-right p{display:inline-block;
  	width:122px;height:34px;
  	padding-left:54px;
  	margin-top:25px;
  	font-size: 16px;
  	color: #333;}
  #login-right #bg{display:inline-block;width:2px;height:18px;}
  #login-right div {position: relative; }
	 #login-right div i{font-size:46px; color:white;position:absolute;
	 background:#ebd6be;top:34px;left:34px;display: inline-block;}
	 #login-right #tel{position: relative;}
	 #login-right #tel i{}
	 #login-right input{width:294px; 
	 height:46px; 
	 border:1px solid #edcda8;
	 margin:34px; margin-right:0; padding-left:60px;
	 color:#ebd6be;}
	 #login-right #yanzheng input{width:244px;padding-left:14px;}
	  #login-right #yanzheng div{width:94px; 
	  height:30px; background:#c0c0c0; 
	  display: inline-block;
	  margin-left:3px;
	}
	#getYan input{width:156px;margin-right:16px;}
	#getYan #btn{width:140px;
	background: #d3ad82; 
	display:inline-block;
	color:#fff;
	font-size: 14px;
	text-align:center;margin: 0;
	padding: 0 14px;}
