#top{width:1240px; height:226px; background:#fff;
margin-bottom: 4px;}
#top #header{height:179px;}
#logo{width:416px;position:relative;}
#logo .l{padding:40px 0}
#logo .slogan{width:215px;
height:18px;
background-image: url(../img/slogan1.png);
background-position:216px 18px;
position:absolute;
left:200px;top:114px;}
#top #header #header_right{margin-top:24px;}
#top #header #header_right ul li{ display:inline-block;margin-left:5px;}
#top #header #header_right ul li:nth-child(1) a{color:#656565;
display: inline-block;background:url(../img/header_1.gif) no-repeat right 7px
;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(2) a{color:#656565;
display: inline-block;background:url(../img/header_1.gif) no-repeat right 7px
;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(3) a{color:#656565;
display: inline-block;background:url(../img/header_1.gif) no-repeat right 7px
;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(4) a{color:#656565;
display: inline-block;background:url(../img/header_1.gif) no-repeat right 7px
;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(5) a{color:#656565;
display: inline-block;background:url(../img/header_1.gif) no-repeat right 7px
;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(6) a{color:#656565;display: inline-block
background:url(../img/header_1.gif) no-repeat right 7px;
position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right ul li:nth-child(7) a{color:#656565;
display: inline-block;position: relative; padding:0px 15px 9px 0; cursor:pointer;}
#top #header #header_right #dingwei{margin-top:10px;}
#top #header #header_right #dingwei #mapicon{font-size:14px; color:red;}
#top #header #header_right #dingwei a{color:#555;}
#menu{height:48px;}
.me-ul {
	width:1240px;
	height:48px;
	margin:0 90px;
	 position:relative;
}
.me-ul li{
	height: 48px;
	margin-right:74px;
	line-height: 48px;
}
.me-ul li a{display:inline-block;}
.menu_li .menu_box{display:none; border-top:1px solid #db985d;background: #fff;}
.menu_box a {color:#000;} ;
.menu_box a:hover{text-decoration:underline;}
.menu_box ul li:nth-child(1) a:hover{text-decoration:none;}
.menu_box ul li:nth-child(1) a{
color:#000;font-weight:800;
font-size:14px;margin-bottom:34px;}
.menu_box {
	width:1240px;
	position:absolute;
	left:-90px;top:50px; 
	border-top:1px solid #baa087;}
.menu_box .left{height: 100%;
    display: inline-block;
    min-height: 370px;
    width: 470px;
    padding-top: 30px;
    padding-right: 28px;}
.menu_box .r {width:742px;
height:328px;padding-top:12px;}
.menu_li #wRing ul.liulan{width:234px;padding-left:56px;}
.menu_li #wRing ul.xilie{width:210px;}
.menu_li #wRing #right{width:740px;height:328px;padding-top:12px;}

.menu_li #lRing{position:absolute}
.menu_li #lRing ul.liulan{width:234px;padding-left:56px;}
.menu_li #lRing ul.xilie{width:210px;}
.menu_li #lRing #right{width:740px;height:328px;padding-top:12px;}

.menu_li #Score ul.liulan{width:234px;padding-left:56px;}
.menu_li #Score ul.xilie{width:210px;}
.menu_li #Score #right{width:740px;height:328px;padding-top:12px;}
.menu_li #story div {height:326px; margin:40px}
#menuFixed{
	position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 222222;
    color: #333;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-top: 3px solid #db985d;
    height:78px;
    line-height:78px;
   display: none;}
 #menuFixed #cont{
    margin:0 auto;
     }
 .nav-ul .menu_li{
 	width:106px;
    height:79px; 
    padding: 0 1px;
    display: inline-block;
    vertical-align: top;
    text-align:center;} 
 .nav-ul .menu_li .menu_a{
 	width: 104px;
     height:16px; 
     color: #333;
     background: #f0f;}
    .nav-ul .menu_li:nth-child(1){color: #db985d;} 
    .nav-ul .menu_li .menu_a:hover{border:0;}
 #menuFixed .logo{
 	width: 101px;
    height: 50px;
    float: left;
    margin: 12px 20px 0 76px;
    display: block;
    line-height: 50px;}
    .leftLogo img{width: 101px;
    height: 50px;} 
#menuFixed .logo img{
 	width: 101px;
 	height: 50px;}
.nav-ul .menu_box2 a {color:#000;}
.nav-ul .nav2{color:#db985d;}
.nav-ul .menu_a2:hover{color:#db985d;}
.nav-ul .menu_box2 ul li:nth-child(1) a{
color:#000;font-weight:800;
font-size:14px;margin-bottom:34px;}

.menu_box2 {
	width:1240px;
	position:absolute;
	top:79px;
	left: 0;
	border-top:1px solid #db985d;
	background: #fff;
	display: none;}
.menu_box2 .left{height: 100%;
    display: inline-block;
    min-height: 370px;
    width: 470px;
    padding-top: 30px;
    padding-right: 28px;}
.menu_box2 .r {width:742px;
height:328px;padding-top:12px;}
 
     
    